.feed{
    /* flex: 1; */
    padding: 30px 86px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-device-width: 480px) {
    .feed{
        /* flex: 1; */
        padding: 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}